PORT=3000
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_SERVER=YOUR_DB_SERVER
DB_DATABASE=YOUR_DB_NAME

# Admin Panel
ADMIN_USER=YOUR_ADMIN_USER
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD

# Entorno
NODE_ENV=development

# reCAPTCHA
RECAPTCHA_SECRET=YOUR_RECAPTCHA_SECRET
